*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;

background:linear-gradient(
135deg,
#fefefe,
#fdf6ff,
#fff8f3,
#f7fbff
);

color:#444;
overflow-x:hidden;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;

background:rgba(255,255,255,0.8);

backdrop-filter:blur(12px);

position:sticky;
top:0;
z-index:1000;

box-shadow:0 4px 15px rgba(0,0,0,0.05);
}

.logo{
font-size:42px;
font-family:'Great Vibes',cursive;
color:#ff8fab;
}

nav div{
display:flex;
gap:30px;
}

nav a{
text-decoration:none;
font-size:17px;
font-weight:600;
color:#666;
cursor:pointer;
transition:.3s;
}

nav a:hover{
color:#ff8fab;
}

.page{
display:none;
min-height:100vh;
padding:40px;
}

.active{
display:block;
animation:fade .5s ease;
}

@keyframes fade{

from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}

}

#home{
text-align:center;
padding-top:60px;
}

#home h1{
font-size:75px;
font-family:'Great Vibes',cursive;
color:#ff8fab;
margin-bottom:20px;
}

#home p{
font-size:21px;
max-width:800px;
margin:auto;
line-height:1.9;
color:#666;
}

.hero{
width:92%;
max-width:1200px;
margin-top:40px;
border-radius:35px;

box-shadow:0 15px 35px rgba(0,0,0,0.08);
}

.btn{

margin-top:35px;
padding:16px 45px;
border:none;
border-radius:50px;

background:linear-gradient(
45deg,
#ffb3c6,
#ffd6e0
);

font-size:18px;
font-weight:600;

cursor:pointer;

transition:.3s;
}

.btn:hover{

transform:translateY(-5px);

}

.section-title{

text-align:center;

font-size:55px;

font-family:'Great Vibes',cursive;

color:#ff8fab;

margin-bottom:40px;

}

.menu-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:30px;

}

.card{

background:rgba(255,255,255,.8);

border-radius:30px;

padding:20px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.06);

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

}

.card img{

width:100%;
height:230px;

object-fit:cover;

border-radius:22px;

margin-bottom:20px;

}

.card h3{

font-size:30px;

color:#ff8fab;

font-family:'Great Vibes',cursive;

}

.price{

font-size:38px;

font-weight:700;

color:#ff5d8f;

margin-bottom:10px;

}

.offer{

margin-top:12px;

font-size:17px;

font-weight:600;

color:#ff7aa2;

}

footer{

padding:25px;

text-align:center;

background:#ffffffaa;

color:#777;

}

@media(max-width:768px){

nav{
flex-direction:column;
gap:15px;
}

#home h1{
font-size:55px;
}

.section-title{
font-size:45px;
}

}